* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(223, 211, 191);
}

.container {
    max-width: 350px;
    border: 2px black solid;
    margin: 30px auto;
}

.container h1, h2 {
    font-size: 18px;
    color: black;
    padding: 10px;
}

.form-control {
    padding: 10px;
}

.form-control label {
    font-weight: bold;
    font-size: 14px;
    color: brown;
}

.form-control input {
    border: 2px solid brown;
    padding: 3px;
    outline: none;
}

button {
    margin: 10px;
    background: brown;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}